.post {
  width: 90%;
  margin-top: 15px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post hr {
  width: 90%;
  text-align: center;
  margin-left: 30px;
  opacity: 0.5;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__info {
  font-size: medium;
}

.post__info .date {
  font-size: small;
  color: gray;
}

.post__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  background: #000;
}

.post__options {
  display: flex;
  justify-content: space-evenly;
  font-size: small;
  color: gray;
  cursor: pointer;
  padding: 10px 15px;
}

.post__option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5px;
  margin-left: 8px;
  font-size: small;
}

.post__option3 {
  transform: rotate(180deg) rotateX(-160deg) !important;
}

.post__option3::before {
  transform: translateY(-80deg);
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}
.post__option .expand {
  margin-left: 10px;
  font-size: small;
}

.commentBox {
  height: 300px !important;
  background: whitesmoke;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.commentBox__top{
  width: 100%;
  height: 220px;
  overflow: auto;
  margin-top: 10px;

}


.commentBox__bottom {
  bottom: 10px;
  display: flex;
  align-items: center;
  left: 10px;
}

.commentBox__bottom input {
  padding: 15px 8px;
  border-radius: 999px;
  display: flex;
  border: none;
  outline: none;
  margin-left: 20px;
  width: 400px;
  box-shadow: 1px -3px 6px -2px rgba(0, 0, 0, 0.75);
}