.app__body{
    display: flex;
    justify-content: space-between;
    background: #dadada;
    height: 100%;
    overflow: hidden;
    
}


@media (max-width: 750px){
    .app__body{
        display: flex;
        flex-direction: column;
    }
}